* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
   
  }
  main {
    /* margin: 2rem 1rem; */
    background-color: #003153;
    /* width: 100%; */
    padding: 1rem;
  }
  
  img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
  
  h1, h2, figcaption, h3 {
    text-align: center;
  }
  h1, h2, p {
    margin: 1rem 0;
  }
  h1, h2, p, h3 {
    color: white;
  }
  
  figure {
    background-color: #FFFAFA;
    padding: 0.5rem 0;
    width: fit-content;
    margin: 0 auto;
  }
  
  a, a:visited, a:hover {
    color: white;
  }
  
  h3 {
    margin-top: 3rem;
  }
  
  h1, h2 {
    font-family:Georgia;
  }